.SceneTitle-title{
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    /* opacity: 0;
    transition: 2s; */
}

.SceneTitle-underline{
    position: relative;
    /* transition: 1s; */
    border-top: solid 2px;
    width: 0%; 
    left: 50%;
    padding-bottom: 1%;
    
}


.SceneTitle-underline-show{
    animation-name: AboutScene-underline-animation;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
}

@keyframes AboutScene-underline-animation {
    from {width: 0%; left: 50%;pointer-events: none;}
    to {width: 60%;left: 20%; pointer-events: none;}
  }