.LandingScene-main{
    height: 100vh;
    /* width: 100vw; */
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.LandingScene-intro{
    position: relative;
    color: white;
    font-size: 5vw;
    margin: auto;
    text-align: center;
}

.LandingScene-connect{
    display: flex;
    margin-top: 2vw;
    height: 4vmin;
    justify-content: center;
}

.LandingScene-connect-inner{
    display: flex;
}

.LandingScene-downbutton-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    height: 7vmin;
}

.LandingScene-downbutton{
    width: 4vmin;
    height: 4vmin;
    font-size:4vmin;
    user-select: none;
    border-radius: 50%;
    text-align: center;
    transition: box-shadow 1s;
    background: url(arrow.png);
    background-size: 100% 100%;
}

.LandingScene-downbutton:hover{
    cursor: pointer;
    box-shadow: 0px 0px 8px #ffffff;
}
