.ToTopButton-main{
    color: rgb(255, 255, 255);
    background-color: tomato;
    transition: 1s;
    align-items: center;
    justify-content: center;
    width: 5vmin;
    height: 5vmin;
    font-size: 3vmin;
    position: fixed;
    /* z-index: 3; */
    bottom: 1vw;
    right: 1vw;
    border-radius: 50%;
    text-align: center;
    opacity: 0;
    display: flex;
    z-index: -1;
    user-select: none;
    cursor: pointer;
}

.ToTopButton-main:hover{
    opacity: 1;
    z-index: 99;
}

.ToTopButton-appear {
    opacity: 0.8;
    z-index: 99;
}